 
  body {color:#FFFFFF; font-size:30px; background-image:url(/images/background3.png);}
    h1 {font-family:cursive; color:#4CAF50; font-size:50px;}
    hr {border:0;background-color:#4CAF50;height:1.4px;}
	p {text-indent:2em;}
  #card {width:850px; margin:auto; background:#03A9F4;}
    #head {font-size:40px; background:#2196F3;}
      #main {} 
      #foot {text-align:right;}
	  #code {text-indent:2em;}
